/*le-UI form表单样式*/
.le-form{
	overflow: hidden;
	zoom:1;
	padding: 10px;
	color: #666;
	font-size: 14px;
}
.le-form-item{
	margin: 20px 0px;
	padding:1px 0px 1px 170px;
	overflow: hidden;
	zoom:1;
}
.le-form-item .le-label{
	display: block;
	float: left;
	width: 170px;
	margin-left: -180px;
	_margin-left: -100px;
	padding-top: 6px;
	text-align: right;
}

