.le-input{
	width: 200px;
	height: 26px;
	padding: 2px 9px;
	border: 1px solid #c1c1c1;
	outline: none;
	color: #595959;
}
.le-sinput{
	width: 100px;
}

.le-checkbox{
	position: relative;
	width: 14px;
	height: 14px;
	top: 2px;
	*top: -2px;
	vertical-align: baseline;
}

.le-btn{
	width: 80px;
	height: 30px;
	border: 1px solid #999;
	color: #333;
	outline: none;
	cursor: pointer;
}
.le-btn:focus{
	position: relative;
	top: 1px;
}

.le-code{
	display: inline-block;
	width: 90px;
	height: 32px;
	vertical-align: top;
	background: #000;
	line-height: 30px;
	color: blue;
}